/* body {
  background: #599fd9;
  background-image: linear-gradient( 135.9deg,  rgb(24, 88, 224) 16.4%, rgb(44, 44, 44) 56.1% );
  min-height: 100vh;
  overflow-x: hidden;
} */

/* IMG */
.imgsize-sm{
  height: 40px;
  width: 40px;
}

.imgsize{
  height: 150px;
  width: 150px;
}

.imgsize-md{
  height: 150px;
  width: 150px;
}
.title {
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px
}

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
  opacity: 1
}

.content-image {
  width: 100%
}

img {
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1
}

.content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase
}

.content-details p {
  color: #fff;
  font-size: 0.8em
}

.fadeIn-bottom {
  top: 80%
}

.dropdown-toggle{
  display: none;
}


.h-1{
  height: 200px ;
}
.h-2{
  height: 150px ;
}
.h-3{
  height: 100px ;
}
.h-4{
  height: 70px ;
}
.w-1{
  width:200px;
}
.w-2{
  width: 150px;
}
.w-3{
  width: 100px;
}
.w-4{
  width: 70px;
}
.m-1{
  padding: 20px;
}
.m-2{
  padding: 15px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}